doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    style.
      body {
          font-family: Verdana;
          font-size: 13px;
          background: #212121;
      }
